* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  border: none;
  color: black;
  text-align: left;
}
body {
  font: 550 1rem 'Noto serif';
  background-color: #66b3ab;
}
textarea:focus,
input:focus {
  outline: none;
}
a {
  color: #66b3ab;
}
a:hover {
  color: #497f78;
}
#login-container {
  background-color: #f7f7e8;
  width: 25rem;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 30px;
  margin-top: 10vh;
  text-align: center;
  border-radius: 5px;
}
#titulo {
  text-align: center;
  color: #497f78;
  font: 550 2rem 'Noto serif';
}
form {
  margin-top: 1.875rem;
  margin-bottom: 2.5rem;
}
label,
input {
  display: block;
  width: 100%;
}
label {
  color: #66b3ab;
  font-weight: noto serif;
}

input {
  border: 1px solid #9dad7f;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
input:focus {
  border: 2px solid #5cd3d0;
}
input[type='submit'] {
  font-size: 1.2em;
  background: #66b3ab;
  border: 0;
  margin-bottom: 1em;
  color: #ffffff;
  padding: 0.2em 0.6em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0, 5);
  text-align: center;
  cursor: pointer;
}
input[type='submit']:hover {
  background: #c7cfb7;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: none;
}
input:hover {
  background: #c7cfb7;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: none;
}
@media (min-width: 2560px) {
  #login-container {
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
    padding: 45px 55px;
    margin-top: 10vh;
    text-align: center;
  }
  body,
  input {
    font-size: 2.5rem;
  }
  #titulo {
    font-size: 4rem;
  }
  #cadastro {
    font-size: 2rem;
  }
  input:hover,
  input[type='submit']:hover,
  input[type='submit'] {
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.4);
  }
  input[type='submit'] {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    font-size: 2.5rem;
    border: 2px;
  }
}
