* {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/*************VARIAVEIS***************/
:root {
    --hue: 205;
    --base-color:hsl(var(--hue)36% 57%);
    --base-color-second:hsl(var(--hue)65% 88%);

    /*cores*/
    --text-color: black;

    --title-font: 'Noto serif', sans-serif;
    --body-font: 'Noto serif', sans-serif;
    --logo: 'Mitr', sans-serif;
  }
/*----------------------HEADER-------------------------------*/
html {
    scroll-behavior: smooth; /*pesquisar mais sobre*/
}

body {
    font: 550 1rem var(--body-font) ;
    color:var(--text-color) ;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}
#header{
    width: 100%;
    background-color: whitesmoke;
    /*height: 5rem;*/
    top: 0;
    position: fixed;
    border-bottom: 1px solid rgb(175, 224, 224);
    box-shadow: rgb(197, 235, 230);
    margin-bottom: 2rem;
    z-index: 100;
}

#logo-s{
    width: 3.5rem;
    height: 3.5rem;
    padding: 1rem 0 0.5rem 1rem;
}

.logo {
    font: 500 2.5rem var(--logo) ;
    color: #497F78;
    padding-top: 0.5rem;
}

nav {
    display: flex;
    justify-content: space-between; /*justificar conteudo*/
    width: 100%;
}

nav ul li{
    display: inline-block;
    font-size: 1.5rem;
    padding-left: 10rem;
}

nav ul li a{
    color: #497F78;
    font: 550 1.4rem var(--body-font) ;
    -webkit-font-smoothing: auto;
}

nav ul li a:hover{
    color: lightseagreen;
    transition: color 0.5s;
}

nav .menu {
    margin-left: 15rem;
    padding-right: 1.5rem;
    padding-top: 1.7rem;
}


.button{
    color: #A6BFBC;
    margin-right: 2rem;
} 

.container{
    margin-left: 2rem;
    margin-right: 2rem;
}

.section {
    padding: 8rem 0;
    
}

#home .container{
    margin-bottom: 11.5rem;
}


#home .text p{
    margin-top: 2rem;
    margin-bottom: -6rem;
    font-size: 1.5rem;
}

#divBusca{
    background-color: #e0eeee;
    border: solid 3px #497F78;
    border-radius: 30px;
    width: 38rem;
    height: 1.7rem;
}

#buscarText{
    background-color: transparent;
    padding-left: 2px;
    font-size: 18px;
    border: none;
    height: 1.7rem;
    width: 31rem;
}

#btnBusca{
    border:none;
    float: right;
    height: 2rem;
    border-radius: 0 30px 30px 0;
    width: 5rem;
    font-weight:bold;
    background: #497F78;
    padding: 0;
    margin-top: -0.2rem;
    margin-right: -0.2rem;
}

#divBusca img{
    float:left;
    width: 1.5rem;
    padding-top: 0.1rem;
    padding-left: 0.3rem;
}

.image img {
    width: 26.5rem;
    height: 18rem;
    padding: 4rem 1rem 0 60rem;
}

.divider-1{
    height: 2px;
    background: linear-gradient(
    270deg, 
    hsla(var(--hue), 36%, 57%, 1) 5%, 
    hsla(var(--hue), 65%, 88%, 0.34) 100%);
    
}

#about .txt h2{
    text-align: center;
}

#about .txt p{
    text-align: center;
    margin-top: 2.5rem;
    margin-right: 20rem;
    margin-left: 20rem;
    
    font: 540 1.3rem var(--body-font);
}

.txt h3{
    text-align: center;
    margin-top: 4rem;
}

#about .image2 img{
    padding: 4rem 2rem 1rem 1rem;
    margin-left: 8rem;
}

img.o{
    width: 10rem;
}

img.t{
    width: 8rem;
}

img.th{
    width: 12rem;
}

img.f{
    width: 9rem;
}

/*.divider-2{
    height: 2px;
    background: linear-gradient(
    270deg, 
    hsla(var(--hue), 36%, 57%, 1) 5%, 
    hsla(var(--hue), 65%, 88%, 0.34) 100%);
    
}*/

footer{
    width: 100%;
    background-color: #66b3a8;
    border-top: 1px solid rgb(175, 224, 224);
    color: whitesmoke;
}

#contact {
    padding: 6rem;
}

footer h3{
    font-size: 2rem;
}

footer p{
    padding-top: 1.5rem;
    font-size: 1.2rem;
}


/******RESPONSIVO******/
@media (min-width: 1200px ) {

}
